body{
	width:100%;
	float:left;
}

.box{
	position:relative;
}
.photobox{
	max-height:250px;
	margin:5px;
	border:1px solid #002366;
}
#myImg{
	width:100%;
	height:auto;
}
.text{
	max-height:250px;
	margin:5px;
}


@media(min-width:992px){.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col.lg-7
  .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float:left;
  }
    .col-lg-1 {
      width: 8.33%;
    } 
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 24.99%;
    }
    .col-lg-4 {
      width: 33.32%;
    }
    .col-lg-5 {
      width: 41.65%;
    }
    .col-lg-6 {
      width: 49.98%;
    }
    .col-lg-7 {
      width: 58.31%;
    }
    .col-lg-8 {
      width: 66.64%;
    }
    .col-lg-9 {
      width: 74.97%;
    }
    .col-lg-10 {
      width: 83.30%;
    }
    .col-lg-11 {
      width: 91.63%;
    }
    .col-lg-12 {
      width: 100.00%;
    }
}    
@media (min-width:768px) and (max-width:991px){.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col.md-7
  .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
    float:left;
  }
    .col-md-1 {
      width: 8.33%;
    } 
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 24.99%;
    }
    .col-md-4 {
      width: 33.32%;
    }
    .col-md-5 {
      width: 41.65%;
    }
    .col-md-6 {
      width: 49.98%;
    }
    .col-md-7 {
      width: 58.31%;
    }
    .col-md-8 {
      width: 66.64%;
    }
    .col-md-9 {
      width: 74.97%;
    }
    .col-md-10 {
      width: 83.30%;
    }
    .col-md-11 {
      width: 91.63%;
    }
    .col-md-12 {
      width: 100.00%;
    }
}

@media(max-width:767px){.col-sd-1, .col-sd-2, .col-sd-3{
  float:left;
  }
  body{
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
  }
}

body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}